.menu {
    background-color: #8a3eec;
    padding: 40px;
  }
  .menu ul {
    margin: 50;
    padding: 0;
  } 
  .menu ul li {
    display: inline;
    margin-right: 10px;
  }
  .menu ul li a {
    color: rgb(0, 0, 0);
  }